body{
    max-width: 100%;
    margin: auto;
    background-image: url("https://images6.alphacoders.com/106/thumb-1920-1064341.png");
    background-color: #cccccc;
}
h1{
    display: flex;
    text-align: center;
    margin-left: 15px;
    font-family: 'Galindo', cursive;
    font-size: 50px;
    align-self: center;
    justify-content: center;
    background-color: lightseagreen;
    font-weight: bolder;
}
h2 {
    display: flex;
    margin-left: 15px;
    text-align: center;
    align-self: center;
    font-family: 'Galindo', cursive;
    justify-content: center;
    background-color: lightseagreen;
    font-weight: bolder;
}
h3{
    display: flex;
    margin-left: 15px;
    align-self: center;
    justify-content: center;
    background-color: lightseagreen;
    font-family:Papyrus, fantasy;
}
#quotes-container{
    margin: 0;
    border: blue;
    height: 100px;
}
#top-bar{
    display: flex;
    height:70px;
    justify-content: space-between;
    align-self: center;
}
button{
    font-size: medium;
    display: flex;
    align-self: stretch;
    padding: 5px 10px;
    border-radius: 20px;
    text-shadow: black;
    justify-content: center;
    background-color: seagreen;
    color: black;
    font-family: 'Galindo', cursive;
    font-weight: bolder;
}
#title-container{
    width:500px;
    margin-top: 200px;
    position: relative;
     top: 35%;
    left: 50%;
      -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
#get-quotes-button{
 margin: 0;
 margin-top: 200px;
 font-size: 30px;
  position: relative;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#like-button{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#comment-button{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#input-user{
    margin: 0;
    position: relative;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#input-comment{
    display: block;
    width: 50%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#submit-comment{
    margin: 0;
    position: relative;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#insert-comment{
    background-color: lightseagreen;
    width: 200px;
    color: black;
    font-family: 'Galindo', cursive;
}
#insert-user{
    background-color: lightseagreen;
    width: 100px;
    color: black;
    font-family: 'Galindo', cursive;
}


