body{
    background-color:lightcoral;
}
h1{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: lightseagreen;
}
h2 {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: lightseagreen;
}
h3{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: lightseagreen;
    font-family:Papyrus, fantasy;
}

div#top-bar{
    height: 150px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: blue;
}
button{
    display: flex;
    align-self: stretch;
    justify-content: center;
    background-color: lightseagreen;
    color: black;
    font-family:Papyrus, fantasy;
    font-weight: bolder;
}
