#top-bar{
    height: 150px;
}

h1 {
color: blue;
justify-content: center;
font-family: Papyrus, fantasy;
}
h2 {
    color: blue;
    justify-content: center;
    font-family: Papyrus, fantasy;
}
div#get-quotes-button{
    display:none;
}